// Variables

$spacer-lg                      : 3rem;
$spacer-sm                      : 1.5rem;

$layout-spacer-lg               : 3rem;
$layout-spacer-x                : 0.5rem;

$layout-gutter-y                : 28px;

$app-sidebar-width              : 260px;
$app-sidebar-width-collapsed    : 54px;

$logo-height                    : 39px;
$logo-width                     : 220px;
$logo-hegiht                    : 32px;

$app-header-height              : 72px;
$mobile-app-header-height       : 70px;
