
// Header Buttons

.header-btn-lg {
  padding: 0;
  margin: 0 0.25rem;
  display: flex;
  align-items: center;
  position: relative;



  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background: $gray-600;
  }

}
