.pageNewFeatures{
  padding: 32px 30px 44px!important;
  color:#000000;

  @media only screen and (max-width: 767px) {
    padding: 28px 20px 36px!important;
  }
  .clientHeading{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    //@media only screen and (max-width: 767px) {
    //  font-size: 15px;
    //  line-height: 22.5px;
    //}
  }
  .clientIconContainer{
    max-width: 767px;
  }
  .sectionTitle{
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    color: #1F2C38;
    @media only screen and (max-width: 575px) {
      font-size: 24px;
      line-height: 36px;
    }
  }
  .featuresContainer{
    max-width: 1324px;
    margin: 0 auto;
    @media only screen and (max-width: 1324px) {
      max-width: 100%;
    }

  }
  .cardTitle{
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: -0.19208605587482452px;
    text-align: left;
    //max-width: 480px;
    @media only screen and (max-width: 991px) {
      font-size: 20px;
      line-height: 25px;
    }
    @media only screen and (max-width: 767px) {
      font-size: 22px;
      line-height: 27px;
      text-align: center;
    }
    @media only screen and (max-width: 575px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .cardSubTitle{

    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: -0.19208605587482452px;
    text-align: left;
    margin-top: 0;
    @media only screen and (max-width: 1200px) {
      font-size: 18px;
      line-height: 25px;
    }
    @media only screen and (max-width: 767px) {
      text-align: center;
      margin-top: 20px;
    }

  }
  .featureMoreCTA{
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.19208605587482452px;
    text-align: left;
    color: #916CF6;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    @media only screen and (max-width: 767px) {
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      margin-top: 16px;
    }
  }
  .rightImage{
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    align-items: stretch;
    .orderText{
      order: 1;
    }
    .orderImage{
      order: 2;
    }
    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      .orderText{
        order: 2;
      }
      .orderImage{
        order: 1;
      }
    }

  }
  .leftImage{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    align-items: stretch;
    .orderText{
      order: 2;
    }
    .orderImage{
      order: 1;
    }
    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
  .hideOnMd{
    display: none;
    @media only screen and (max-width: 767px) {
      display: block;
    }
  }
  .showOnMd{
    display: block;
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
  .featuresDescription{
    padding: 0 44px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 1200px) {
      padding: 18px;
    }
    @media only screen and (max-width: 992px) {
      padding: 14px;
    }
    @media only screen and (max-width: 767px) {
      padding: 0;
    }
  }
  .preFooterCTAContainer{
    padding-top: 32px;
    .title{
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 54px;
      letter-spacing: -0.19208605587482452px;
      text-align: center;
      @media only screen and (max-width: 767px) {
        font-size: 28px;
        line-height: 42px;
      }
      @media only screen and (max-width: 575px) {
        font-size: 24px;
        line-height: 36px;
      }
    }
    .CTAWrapper{
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 24px;
      justify-content: center;
      a, button{
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.05em;
        text-align: left;
        border: none;
        border-radius: 10px;
        color: white;
        padding:12px 20px;
        outline: none;
        max-width: 200px;
        text-decoration: none;
        @media only screen and (max-width: 767px) {
          letter-spacing: 0.02em;
        }
        &:active{
          text-decoration: none;
        }
      }
      .demoCTA{
        background: #916CF6;
        &:hover{
          box-shadow: 0px 4px 15px rgba(145, 108, 246, 0.35);
        }
      }
      .signInCTA{
        background: #1F2C38;
        &:hover{
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        }
      }
      .hideOnMd{
        display: none;
        @media only screen and (max-width: 767px) {
          display: block;
        }
      }
      .showOnMd{
        display: block;
        @media only screen and (max-width: 767px) {
          display: none;
        }
      }
      @media only screen and (max-width: 767px) {
        grid-gap: 12px;
      }
    }

  }
}
